:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

}
*{
  padding: 0;
  margin: 0;
}
/* #formContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.form{
  display: flex;
  justify-content:center;
  align-items: flex-start;
  flex-direction: column;
}
.input{
  height: 30px;
  width: 500px;
}
.label{
  margin-top: 15px;
  margin-bottom: 8px;
}
.gender{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.genderTitle{
  margin-right: 3rem;
}
.genderDiv{
  margin-top: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.country{
  display: flex;
  justify-content: flex-start;
  align-items: self-start;
  flex-direction: column;
  height: 10%;
  width: 500px;
  font-size: medium;
}
#country{
  height: 30px;
  width: 500px;
  font-size: medium;
}
#area{
  margin-top: 20px;
  margin-bottom: 8px;
}
.btns{
  margin-top: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 500px;
}
.btn{
  height: 40px;
  width: 180px;
  border-radius: 5px;
  background-color: green;
  color: white;
  text-align: center;
  border: none;

} */


/* this line of code for jokes  */


/* .jokeLine{
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.enerateBtn{
  height: 40px;
  width: 100px;
  border: none;
  border-radius: 5px;
  background-color: green;
  color: white;
  margin-top: 2rem;
  margin-left: 20px;

  font-weight: 600;
}
.enerateBtn:hover{
  background-color: black;
  transition: 0.3s;
}
.jokeLine{
  font-size: 18px;
  font-weight: 600;
  font-family: cursive;
  color: rgb(43, 55, 74);
  height: 100px;
  background-color: aliceblue;

} */



/* here  start the site css for navBar */
.body.dark{
  background-color: #000033;
}
.navBar{
  height: 90px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navBar.dark{
  height: 90px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(to right, #000033, #000066, #000099, #0000cc, #0000ff);
  color: white;
}

.links-logo{
  margin-left: 1.6rem;
}
.links-logo.dark{
  margin-left: 1.6rem;
}
.mainLogo{
  font-size: x-large;
  font-weight: 900;
  color: black;
  text-decoration: none;
  margin-right: 1rem;
}
.mainLogo.dark{
  font-size: x-large;
  font-weight: 900;
  color: rgb(253, 252, 252);
  text-decoration: none;
  margin-right: 1rem;
}
.links-icon{
  margin-left: 25px;
  font-size: 15px;
  font-weight: 500;
  color: #000000;
  text-decoration: none;
  padding-bottom: 1rem;
}
.links-icon.dark{
  margin-left: 25px;
  font-size: 15px;
  font-weight: 500;
  color: #f8f6f6;
  text-decoration: none;
  padding-bottom: 1rem;}
.links-icon {
  position: relative;
  transition: all .3s ease-in-out;
}

.links-icon::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  display: block;
  margin-top: 5px; /* Adjust this value to move the line up or down */
  right: 50%;
  background: blueviolet;
  transition: width .3s ease-in-out, right .3s ease-in-out;
}

.links-icon:hover::after {
  width: 100%;
  right: 0;
}
@media(max-width:1000px){
  .links-icon{
    display: none;
  }
}

/* for span in travel */
.travel{
  font-size: 10px;
  margin-left: 5px;
  background-color: rgb(245, 249, 6);
  color: rgb(9, 8, 8);
  padding: 2px 2px;
}
.shop{
    font-size: 10px;
    margin-left: 5px;
    background-color: rgb(249, 6, 6);
    color: rgb(249, 244, 244);
    padding: 2px 2px;
}

.icons{
  margin-right: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 35px;
}
.icons.dark{
  margin-right: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 35px;
}


/* span for cart */
.cart{
  text-decoration: none;
  position: relative;
}
.cart-png:hover{
  color: blueviolet;
}
.cart-span{
  position: absolute;
  top: 3px;
  margin-left: 4px;
  margin-right: 1rem;
  font-size: 10px;
  color: white;
  background-color: red;
  padding-left: 4px;
  padding-right:4px ;
  padding-top: 1px;
  padding-bottom: 1px;
}

.cart {
  position: relative;
  transition: all .3s ease-in-out;
}

.cart::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  display: block;
  margin-top: 5px; /* Adjust this value to move the line up or down */
  right: 50%;
  background: blueviolet;
  transition: width .3s ease-in-out, right .3s ease-in-out;
}

.cart:hover::after {
  width: 100%;
  right: 0;
}

.showSearch{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #0000008e;
  height: 100%;
  width: 100%;
}
.searchBar{
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  height: 70px;
  width: 500px;
  border-radius: 5px;
  background-color: white;
  box-shadow: 2px 4px solid rgb(203, 199, 199);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
#SearchBar{
  height: 49px;
  border: none;
  width: 400px;
  font-size: 15px;
  color: gry;
}
#SearchBar:focus{
  outline: none;
}
#SearchBar::placeholder{
  font-size: 18px;
  color: blueviolet;

}
.fa-search{
  color: gray;
  font-size: 18px;
  position: relative;
}
#forSearch{
  position: absolute;
  top: 25%;
  right: 20%;
  font-size: 30px;
  font-weight: 500;
  color: white;
}
#forSearch:hover{
  font-size: 35px;
  transition: .2s ease-in-out;
}
.sideBar{
    position: fixed;
    top: 0;
    right: 0;
    background-color: #f8eeee;
    height: 100%;
    width: 30%;
    display: block;
    justify-content: flex-start;
    align-items: center;

}
.list-of-links{
  margin-left: 2rem;
  list-style: none;

}
.forSideBar{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #0000008e;
  height: 100%;
  width: 100%;
}



#logo{
  margin-top: 5rem;
  margin-left: 1rem;
}

.closeBar{
  position: relative;
  top: 20%;
  right: 0;
}

/* for dark and light mode */
.dark-light{
  position: fixed;
  bottom: 2rem;
  right: 3rem;
}

/* for hero section */
.hero{
  height: 80%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.main-hero.dark{
  background-color: #000033;
  height: 100%;
  width: 100%;
}


.hero1 {
  background-image: url(post1.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 460px;
  width: 740px;
  position: relative;
  margin-left: 1.5rem;
}

.hero1::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.2); /* Adjust the last value (0.5) to make the overlay darker or lighter */
}

.tag{
  position: absolute;
  top: 0;
  left: 0;
  background-color: blueviolet;
  height: 25px;
  width: 70px;
  text-align: center;
  color: white;
  font-size: 14px;
  font-weight: 500;
}

.title{
  position: absolute;
  bottom: 17%;
  left: 5%;
  color: white;
  font-size: 34px;
  font-weight: 700;
  text-decoration: none;
  width: 80%;
}
.title:hover{
  color: blueviolet;
  transition: .3s ease-in-out;
  text-decoration: underline;
}
.author{
  position: absolute;
  bottom: 5%;
  left: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;

}

.link-post1{
  color: white;
  text-decoration: none;
}

.link-post1:hover{
  color: blueviolet;
  transition: 0.2s ease-in-out;
}

.hero2{
  display: flex;
  justify-content:center;
  align-items: center;
  flex-direction: column;
  gap: 27px;
  margin-right: 1.5rem;
}

.post2{
  background-image: url(post2.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 218px;
  width: 388px;
  position: relative;
}
.poat2::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.2);
}
.post3{
  background-image: url(post3.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 218px;
  width: 388px;
  position: relative;
  z-index: 1;
}
.post3::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.2);
}

.post2-title{
  font-size: 24px;
  font-weight: 600;
  position: absolute;
  bottom: 15%;
  left: 5%;
  color: white;
}
.post2-title:hover{
  color: blueviolet;
  transition: .3s ease-in-out;
  text-decoration: underline;
}

/* for posts div  */
.postContainer{
  display: flex;
  justify-content: center;
  align-items: center;
}

.post4{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 4rem;
  gap: 30px;
  height: 194px;
  width: 80%;
  margin-left: 2rem;
  position: relative;
}
.post4.dark{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 4rem;
  gap: 30px;
  height: 194px;
  width: 80%;
  margin-left: 2rem;
  position: relative;
  color: white;
}
.latest-posts{
  position: absolute;
  bottom: 0;
  left: 2.7%;
  margin-top: 1rem;
}
.latest-posts.dark{
  position: absolute;
  bottom: 0;
  left: 2.7%;
  margin-top: 1rem;
  color: white;
}
.edited-posts{
  position: absolute;
  bottom: 0;
  right: 2.7%;
  margin-top: 1rem;
}
.edited-posts.dark{
  position: absolute;
  bottom: 0;
  right: 2.7%;
  margin-top: 1rem;
  color: white;
}
.post4-img{
  height: 194px;
  width: 230px;
  object-position: center;
  object-fit: cover;
}

.post4-tag{
  position: absolute;
  top: 0;
  left: 0;
  background-color: blueviolet;
  height: 25px;
  width: 70px;
  text-align: center;
  color: white;
  font-size: 14px;
  font-weight: 500;
}

.author-detail{
  width: 80%;
}

.detail{
  font-size: 15px;
  color: gray;
  margin-bottom: 1rem;

}

.postTitle{
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 1rem;  
  color: #000033;
}

.post-detail{
  color: gray;
  font-weight: 400;
  line-height: 20px;
}

.post4-detail.dark{
  color: white;
}